:root {
    color-scheme: light dark;
    /* fonts */
    --font-default: "Poppins", sans-serif;
    --fw-default: 400;

    /* colors */
    --color-white: #FFFFFF;
    --color-white-opacity-75: rgba(255,255,255, .75);
    --color-white-opacity-50: rgba(255,255,255, .5);
    --color-white-opacity-25: rgba(255,255,255, .25);
    --color-black: #000000;
    --color-main-dark: #212121;
    --color-accent: tomato;

    --color-bg-black: #12101A;
    --color-bg-blue: #06136b;
    --color-bg-gray: #777777;

    --color-bg-dark-opacity: rgba(255,255,255, 0.1);
    --color-bg-light-opacity: rgba(0,0,0, 0.2);

    --color-placeholder: #d2d2d2;

    /* buttons */
    --btn-bg-default: var(--color-white);
    --btn-bg-hover: #f3f3f3;
    --btn-bg-active: #c7c5c5;

    /* theme switcher */
    --theme-switcher-box-shadow--dark: 0 0 0 .2rem rgb(0, 0, 0, .2);
    --theme-switcher-box-shadow--light: 0 0 0 .2rem rgb(0, 0, 0, .2);

    /* other */
    --app-container-max-width: 120rem;
    --border-radius-default: .8rem;
    --btn-box-shadow-light: 0 .7rem 3.6rem 0 rgba(255, 255, 255, 0.2);

    /* transitions */
    --transition-default: all ease .3s;

}

/* begin:Base */
html {
    font-size: 10px;
    font-weight: var(--fw-default);
    font-family: var(--font-default);
    width: 100%;
    min-height: 100%;
}

body {
    font-size: 1.6rem;
    color: var(--color-white);
    background: var(--color-bg-black);
    background: -webkit-linear-gradient(45deg, var(--color-bg-black), var(--color-bg-blue));
    background: linear-gradient(45deg, var(--color-bg-black), var(--color-bg-blue));
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
}

/**:where(a, button, [role="button"], [role="link"]):focus-visible {
    border: .1rem solid var(--color-white);
    border-radius: .5rem;
    padding: .3rem;
}*/
/* end:Base */

/* begin:Extra custom classes */
.d-none {
    display: none !important;
}
/* end:Extra custom classes */

/* begin:Button */
.df-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    min-width: 20rem;
    width: fit-content;
    border-radius: var(--border-radius-default);
    background-color: var(--color-white);
    color: var(--color-main-dark);
    text-decoration: none;
    padding: 1.6rem 2.4rem;
    transition: var(--transition-default);
    box-shadow: var(--btn-box-shadow-light);
    cursor: pointer;
}

.df-button__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1.6rem;
    overflow: hidden;
}

.df-button:hover {
    background-color: var(--btn-bg-hover);
}

.df-button:active {
    background-color: var(--btn-bg-active);
}
/* end:Button */

/* begin:Custom link with decoration */
.df-link {
    position: relative;
    width: fit-content;
}

.df-link:after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    height: .1rem;
    width: 0;
    background-color: var(--color-white);
    transition: var(--transition-default);
}

@media (hover: hover) {
    .df-link:hover:after,
    .df-link:active:after {
        width: 100%;
    }
}

/* end:Custom link with decoration */

.df-app {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    justify-content: center;
    max-width: var(--app-container-max-width);
    margin: 0 auto;
    padding: 5rem;
}

.df-app[data-state="loading"] .df-loader__wrapper {
    opacity: 1;
    pointer-events: initial;
}

.df-app:is([data-state="loading"], [data-state="completed"]) .df-card {
    min-height: 50rem;
    opacity: 1;
}

.df-app[data-state="invalid"] .df-search__error {
    opacity: 1;
}

@media (max-width: 767.98px) {
    .df-app {
        padding: 2rem;
    }
}

/* begin:Header */
.df-header {
    display: flex;
    justify-content: space-between;
    grid-gap: 2rem;
    align-items: center;
}

.df-header__title {
    font-size: 3.2rem;
}

@media (max-width: 767.98px) {
    .df-header__title {
        font-size: 2.4rem;
    }
}
/* end:Header */

/* begin:Theme switcher */
.df-theme-switcher {
    position: relative;
    padding: .2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: none;
}

.df-theme-switcher__legend {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.df-theme-switcher__radio {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    transition: filter 0.1s ease-in;
}

.df-theme-switcher__radio:focus {
    outline: none;
}

.df-theme-switcher__radio_light {
    background-image: url('../assets/icons/icon-theme_sun.svg');
}

.df-theme-switcher__radio_auto {
    background-image: url('../assets/icons/icon-theme_system.svg');
}

.df-theme-switcher__radio_dark {
    background-image: url('../assets/icons/icon-theme_moon.svg');
}

.df-theme-switcher__state {
    position: absolute;
    display: flex;
    align-items: center;
    inset: 0;
    z-index: -1;
    box-shadow: var(--theme-switcher-box-shadow--dark);
    border-radius: 2.4rem;
    background-color: var(--color-white-opacity-25);
    pointer-events: none;
    padding: .1rem;
}

.df-theme-switcher__state-inner {
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
    background-color: var(--color-main-dark);
    border-radius: 50%;
    transition: transform ease-in .1s;
}

/*.df-theme-switcher__radio:focus-visible ~ .df-theme-switcher__state .df-theme-switcher__state {
    box-shadow: 0 0 0 .2rem #000000;
}*/

.df-theme-switcher__radio_light:checked ~ .df-theme-switcher__state .df-theme-switcher__state-inner {
    transform: translateX(0);
}

.df-theme-switcher__radio_auto:checked ~ .df-theme-switcher__state .df-theme-switcher__state-inner {
    transform: translateX(calc(1.6rem + 50% - .2rem));
}

.df-theme-switcher__radio_dark:checked ~ .df-theme-switcher__state .df-theme-switcher__state-inner {
    transform: translateX(calc(3.2rem + 100% - .4rem));
}

.df-theme-switcher__radio {
    filter: invert(0);
}

.df-theme-switcher__radio:checked {
    filter: invert(1);
}

.df-theme-switcher__state {
    filter: invert(0);
}
/* end:Theme switcher */

.df-main {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
}

/* begin:Search panel */
.df-search {
    position: relative;
}

.df-search__inner {
    display: flex;
    align-items: center;
    grid-gap: 2rem;
    height: 6rem;
    background-color: var(--color-bg-dark-opacity);
    padding: 1.2rem 1.6rem;
    border-radius: var(--border-radius-default);
}

@media (max-width: 767.98px) {
    .df-search{
        grid-gap: 1rem;
    }
}

.df-search__error {
    position: absolute;
    bottom: -3rem;
    left: 2rem;
    max-width: 100%;
    width: fit-content;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
    color: var(--color-white-opacity-75);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: opacity ease .3s;
}

.df-search__input-label {
    flex-grow: 1;
}

#df_search_input {
    width: 100%;
}

.df-search__icon {
    width: 2.8rem;
    height: 2.8rem;
    object-fit: contain;
    filter: invert(1);
}

@media (max-width: 767.98px) {
    .df-search__icon {
        width: 2rem;
        height: 2rem;
    }
}

.df-app[data-theme="light"] .df-search__icon {
    filter: invert(0);
}

#df_search {
    width: 100%;
}

#df_search::placeholder {
    color: var(--color-placeholder);
}

#btn_search {
    height: 4rem;
}

@media (max-width: 767.98px) {
    #btn_search {
        min-width: unset;
    }
}

/* end:Search panel */

/* begin:Profile card */
.df-card {
    position: relative;
    background-color: var(--color-bg-dark-opacity);
    border-radius: var(--border-radius-default);
    overflow: hidden;
    padding: 4rem;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-default)
}

@media (max-width: 1023.98px) {
    .df-card {
        padding: 3rem;
    }
}

@media (max-width: 767.98px) {
    .df-card {
        padding: 5rem 2rem;
    }
}

.df-card__inner {
    display: grid;
    grid-template-columns: [info] 1fr [photo] 30rem;
    grid-column-gap: 8rem;
}

@media (max-width: 1023.98px) {
    .df-card__inner {
        grid-column-gap: 4rem;
        grid-template-columns: [info] 1fr [photo] 25rem;
    }
}

@media (max-width: 767.98px) {
    .df-card__inner {
        display: flex;
        flex-direction: column-reverse;
        grid-gap: 2rem;
    }
}

.df-card__col {
    display: flex;
    flex-direction: column;
}

.df-card__col_photo {
    grid-gap: 2rem;
}

@media (max-width: 767.98px) {
    .df-card__col_photo {
        grid-gap: 1rem;
        align-items: center;
    }
}

.df-card__header {
    margin-bottom: 2rem;
}

.df-card__stats-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 1rem 4rem;
    margin: 0;
    padding: 0;
}

@media (max-width: 1023.98px) {
    .df-card__stats-list {
        grid-column-gap: 2rem;
    }
}

@media (max-width: 767.98px) {
    .df-card__stats-list {
        justify-content: center;
    }
}

.df-card__stats-item {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
}

.df-card__stats-icon {
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
}

.df-card__stats-title {
    font-weight: 300;
    color: var(--color-white-opacity-75);
}

@media (max-width: 1023.98px) {
    .df-card__stats-title {
        font-size: 1.4rem;
    }
}

@media (max-width: 767.98px) {
    .df-card__stats-title {
        font-size: 1.2rem;
    }
}

.df-card__user-name-wr {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    border-bottom: .1rem solid var(--color-bg-dark-opacity);
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

@media (max-width: 767.98px) {
    .df-card__user-name-wr {
        align-items: center;
    }
}

.df-card__user-name {
    font-size: 4rem;
    color: var(--color-white);
    margin: 0;
}

@media (max-width: 1023.98px) {
    .df-card__user-name {
        font-size: 2.8rem;
    }
}

@media (max-width: 767.98px) {
    .df-card__user-name {
        font-size: 2.4rem;
    }
}

.df-card__user-link-wr {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
}

.df-card__user-link-img-wr {
    width: 3.2rem;
    height: 3.2rem;
}

.df-card__user-link-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: .2rem solid var(--color-white);
}

.df-card__user-nickname {
    font-weight: 600;
    color: var(--color-white);
}

@media (max-width: 1023.98px) {
    .df-card__user-nickname {
        font-size: 1.4rem;
    }
}

@media (max-width: 767.98px) {
    .df-card__user-nickname {
        font-size: 1.2rem;
    }
}

.df-card__user-bio {
    margin-bottom: 2rem;
}

.df-card__user-bio-text {
    max-height: 20rem;
    overflow-y: auto;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.75;
    color: var(--color-white);
}

@media (max-width: 767.98px) {
    .df-card__user-bio-text {
        font-size: 1.2rem;
    }
}

.df-card__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
    margin-bottom: 4rem;
}

@media (max-width: 767.98px) {
    .df-card__buttons {
        justify-content: center;
    }
}

.df-card__extra-info {
}

.df-card__extra-info-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    margin: 0;
    padding: 0;
}

@media (max-width: 767.98px) {
    .df-card__extra-info-list {
        width: fit-content;
        margin: 0 auto;
    }
}

.df-card__extra-info-item {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-column-gap: 2rem;
}

@media (max-width: 767.98px) {
    .df-card__extra-info-item {
        grid-column-gap: 1rem;
    }
}

.df-card__extra-info-title {
    font-weight: 300;
    color: var(--color-white-opacity-50);
}

@media (max-width: 1023.98px) {
    .df-card__extra-info-title {
        font-size: 1.4rem;
    }
}

@media (max-width: 767.98px) {
    .df-card__extra-info-title {
        font-size: 1.2rem;
    }
}

.df-card__extra-info-value {
    font-weight: 300;
    word-break: break-all;
}

@media (max-width: 1023.98px) {
    .df-card__extra-info-value {
        font-size: 1.4rem;
    }
}

@media (max-width: 767.98px) {
    .df-card__extra-info-value {
        font-size: 1.2rem;
    }
}

.df-card__joined {
    font-weight: 300;
    color: var(--color-white-opacity-75);
}

@media (max-width: 1023.98px) {
    .df-card__joined {
        font-size: 1.4rem;
    }
}

@media (max-width: 767.98px) {
    .df-card__joined {
        font-size: 1.2rem;
    }
}

.df-card__user-photo-wr {
    width: 100%;
    height: 30rem;
    border-radius: 2.4rem;
    border: .1rem solid var(--color-bg-dark-opacity);
    padding: 1rem;
}

@media (max-width: 1023.98px) {
    .df-card__user-photo-wr {
        height: 25rem;
    }
}

@media (max-width: 767.98px) {
    .df-card__user-photo-wr {
        height: 20rem;
        width: 20rem;
    }
}

.df-card__user-photo {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
}
/* end:Profile card */

/* begin:Loader */
.df-loader__wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 10;
    backdrop-filter: blur(3rem);
    transition: var(--transition-default);
    opacity: 0;
    pointer-events: none;
}
.df-loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 4.8rem;
    height: 4.8rem;
    color: #fff;
}

.df-loader:before,
.df-loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.df-loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0 0 0 currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0 currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0 -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}
/* end:Loader */