:root {
    /* fonts */
    --font-default: "Poppins", sans-serif;
    --fw-default: 400;

    /* colors */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-main-dark: #212121;
    --color-accent: tomato;

    --color-bg-black: #12101A;
    --color-bg-blue: #06136b;
    --color-bg-gray: #777777;

    --color-placeholder: #d2d2d2;

    /* buttons */
    --btn-bg-default: var(--color-white);
    --btn-bg-hover: #f3f3f3;
    --btn-bg-active: #c7c5c5;

    /* other */
    --app-container-max-width: 120rem;
    --border-radius-default: .8rem;
    --btn-box-shadow-light: 0 .7rem 3.6rem 0 rgba(255, 255, 255, 0.2);

    /* transitions */
    --transition-default: all ease .3s;

}

/* begin:Base */
html {
    font-size: 10px;
    font-weight: var(--fw-default);
    font-family: var(--font-default);
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    color: var(--color-white);
    background: var(--color-bg-black);
    background: -webkit-linear-gradient(45deg, var(--color-bg-black), var(--color-bg-blue));
    background: linear-gradient(45deg, var(--color-bg-black), var(--color-bg-blue));
    width: 100%;
    height: 100%;
}

/**:where(a, button, [role="button"], [role="link"]):focus-visible {
    border: .1rem solid var(--color-white);
    border-radius: .5rem;
    padding: .3rem;
}*/
/* end:Base */

/* begin:Extra custom classes */
.d-none {
    display: none !important;
}
/* end:Extra custom classes */

/* begin:Button */
.df-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    min-width: 20rem;
    width: fit-content;
    border-radius: var(--border-radius-default);
    background-color: var(--color-white);
    color: var(--color-main-dark);
    text-decoration: none;
    padding: 1.6rem 2.4rem;
    transition: var(--transition-default);
    box-shadow: var(--btn-box-shadow-light);
    cursor: pointer;
}

.df-button__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1.6rem;
    overflow: hidden;
}

.df-button:hover {
    background-color: var(--btn-bg-hover);
}

.df-button:active {
    background-color: var(--btn-bg-active);
}
/* end:Button */

.df-app {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    justify-content: center;
    max-width: var(--app-container-max-width);
    margin: 0 auto;
    padding: 5rem;
}

/* begin:Header */
.df-header {
    display: flex;
    justify-content: space-between;
    grid-gap: 2rem;
    align-items: center;
}

.df-header__title {
    font-size: 3.2rem;
}

@media (max-width: 767.98px) {
    .df-header__title {
        font-size: 2.4rem;
    }
}
/* end:Header */

/* begin:Theme switcher */
.df-theme-switcher {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.df-theme-switcher__title {
    font-size: 1.8rem;
    text-transform: uppercase;
}

@media (max-width: 767.98px) {
    .df-theme-switcher__title {
        font-size: 1.4rem;
    }
}

.df-theme-switcher__icon-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}
@media (max-width: 767.98px) {
    .df-theme-switcher__icon-box {
        width: 2rem;
        height: 2rem;
    }
}

.df-theme-switcher__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.df-app[data-theme="dark"] .df-theme-switcher__icon[data-theme="light"] {
    opacity: 1;
    z-index: 1;
}

.df-app[data-theme="light"] .df-theme-switcher__icon[data-theme="dark"] {
    opacity: 1;
    z-index: 1;
}
/* end:Theme switcher */

/* begin:Search panel */
.df-search {
    display: flex;
    align-items: center;
    grid-gap: 2rem;
    height: 6rem;
    background-color: var(--color-bg-gray);
    padding: 1.2rem 1.6rem;
    border-radius: var(--border-radius-default);
}

@media (max-width: 767.98px) {
    .df-search{
        grid-gap: 1rem;
    }
}

.df-search__input-label {
    flex-grow: 1;
}

.df-search__icon {
    width: 2.8rem;
    height: 2.8rem;
    object-fit: contain;
    filter: invert(1);
}

@media (max-width: 767.98px) {
    .df-search__icon {
        width: 2rem;
        height: 2rem;
    }
}

.df-app[data-theme="light"] .df-search__icon {
    filter: invert(0);
}

#df_search {
    width: 100%;
}

#df_search::placeholder {
    color: var(--color-placeholder);
}

#btn_search {

}

@media (max-width: 767.98px) {
    #btn_search {
        min-width: unset;
    }
}

/* end:Search panel */

/* begin:Profile card */
.df-card {
    display: none;
}
/* end:Profile card */